// Fancy BIG first-letter for paragraphs
// Use ‘@include dropcap()’ with any selector.
// Pass in your own custom arguments or leave as-is.
@mixin dropcap($float: left, $font-size: 4em, $font-family: inherit, $margin: inherit, $padding: inherit, $color: inherit, $lineHeight: 1) {
	&:first-letter {
		float: $float;
		margin: $margin;
		padding: $padding;
		font-size: $font-size;
		font-family: $font-family;
		line-height: $lineHeight;
		color: $color;
	}
}

// /* E.G. USAGE */
// .drop-cap {
// 	@include dropcap($margin: 0 .5em auto 0, $padding: .5em, $color: #fff, $bg: #333);
// }