.freshservice-intro{
	background-color: #f1f1f1;
	padding: 10px;
	display: block;
	.l-page{ display: block; }
	h5{
		margin: 0;
		color:#018ba7;
		@extend .default;
	}
	.fs-logo{
		background: url('#{$cdn_path}/images/home/fs-logo.png') no-repeat;
		width: 155px;
		height: 32px;
		display: block;
		margin: auto;
		margin-top: 9px;
		background-size: 150px;
	}
	&:hover{ background-color: #EDEDED; }
}

.home-banner-container{
	background-image: url(#{$cdn_path}/images/home/homepage-header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	background-color: #5d8376;
	height: 679px;
	display: block;
	position: relative;
}

.secondary-container{ padding-bottom: 60px; }

.sec-signup a.btn{ letter-spacing: inherit; }

.fd-home-content{
	padding-top: 115px;
	color: #fff;
	h2{
		width: 60%;
		font-size: 20px;
		font-weight: $font-weight-light;
		margin-top: 15px;
		margin: 0 auto;
		line-height: 1.5;
	}
	h1{
		font-size: 48px;
		font-weight: 300;
	}
	p{ font-size:22px; }
	.signup-btn{ font-weight: $font-weight-semibold; }
}

.banner-signup{
	width: 440px;
	text-align: center;
	margin: 0 auto;
	.btn{
		margin-top: 15px;
	}
	.btn-learn-more{
		margin-left: 15px;
	}
}

.banner-demo{
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 5px;
	@extend .default;
	font-weight: $font-weight-semibold;
	padding: 7px 40px;
	color: #fff;
	text-transform: uppercase;
	&:hover, &:visited{
		color:#fff;
	}
}

.signup-btn{
	background-color: #126757;
	border: 1px solid #fff;
	border-radius: 5px;
	color: #fff;
	padding: 7px 20px;
	font-size: 18px;
	text-transform: uppercase;
	&:hover{
		background-color:rgba(0, 0, 0, 0.6);
		color:#fff;
	}
	&:visited{
		color:#fff;
	}
}

.mac-screen{
	background: url(#{$cdn_path}/images/home/mac.jpg)no-repeat;
	width: 600px;
	height: 316px;
	display: block;
	margin: 0 auto;
	background-size: 600px 331px;
	margin-top: 80px;
	position: relative;
}

.secondary-title{
	margin-top: 50px;
	text-align: center;
	h2{
		@extend .gamma;
		font-weight: $font-weight-light;
	}
	p{
		color: #565c68;
	}
	
}
.home-features{
	width: 980px;
	margin: 60px auto 0;
	padding-bottom: 30px;
	.fg-4{
		width: 25%;
		/*@noflip*/ margin-right: 12%;
		&:last-child{/*@noflip*/  margin-right: 0; }
	}
	.hexagon-content{
		margin-top: 10px;
	}
}



.home-features{	
	.fg-4{ visibility: hidden; }
	.load{ 
		@include animation(fadeInDown 0.5s);
      	visibility: visible;
	}
	.blue{
		background: #243042;
		&:before{
			border-bottom: 25px solid #243042;
		}
		&:after{
			border-top: 25px solid #243042;
		}
	}
	.green{
		background: #62d2bc;
		&:before{
			border-bottom: 25px solid #62d2bc;
		}
		&:after{
			border-top: 25px solid #62d2bc;
		}
	}
	.light-blue{
		background: #394a5b;
		&:before{
			border-bottom: 25px solid #394a5b;
		}
		&:after{
			border-top: 25px solid #394a5b;
		}
	}
}


.home-tour-wrapper{
	color: #ffffff;
	background-image: url(#{$cdn_path}/images/home/tour-home1X.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #5d8376;
	background-position:0 57%;
	height: 315px;
	display: block;	
	position: relative;	
	margin-right: 0;
	margin-top: -15px;
	.home-tour{		
		position: relative;
		height: 300px;
		margin-right: 0;
		display: block;
		.home-tour-content{
			position: absolute;
			/*@noflip*/ left: 50%;
			top: 85px;
			p{
				font-size: 32px;
				line-height: 1.4;
                /*@replace: right*/text-align: left;
			}
		}
	}
	.home-tour-link{
		width: 40%;
		height: 315px;
		background-color: rgba(0,0,0,0.05);
		@include transition(all ease 0.5s);
		text-align: center;
		display: block;
		.tour-link-content{ 
			margin-top: 110px;
			padding-top: 20px;
			padding-bottom: 20px;
			display: block;
			h3{ 
				font-size: 42px;
				font-weight: $font-weight-light; 
			}
		}
		.right-nav {
			background: url(#{$cdn_path}/images/home/tour-home.png) no-repeat;
			width: 51px;
			height: 50px;
			display: inline-block;
			background-size: 50px;
			position: absolute;
			margin-top: -80px;
			/*@noflip*/ right: 3%;
			opacity: 0.5;
			cursor: pointer;
		}
		
	}
	&:hover{
		.home-tour-link{
			background-color: rgba(0,0,0,0.2);
		}
		.right-nav{ opacity: 0.8; }
	}
}
.secondary-upper-link{
	background-color: #ffffff;
	height: 55px;
	@include transform(rotate(1deg));
	display: block;
	position: relative;
	/*@noflip*/left: -1px;
	top: 18px;
	z-index: 2;
	box-shadow: -1px -6px 0px 6px #ffffff;
}

.secondary-bottom-link{
	background-color: #f1f1f1;
	height: 50px;
	@include transform(rotate(-1deg));
	margin-top: -28px;
	display: block;
	position: relative;
	/*@noflip*/left: -1px;
	box-shadow: 7px 5px 0px 10px #f1f1f1;
}

.home-customers{
	padding-top: 40px;	
	padding-bottom: 0px;
	background-color: #f1f1f1;
	h1{
		font-weight: $font-weight-light;
	}
	p{ color: #565c68; }
}

.company-logo-blocks{
	max-width: 955px;
	padding-top: 50px;
	margin: 0 auto;
	position: relative;
	:after{
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		border-left: 20px solid #f1f1f1;
		border-right: 20px solid #f1f1f1;
		border-top: 20px solid #f1f1f1;
		bottom: -7px;
		/*@noflip*/right: -10px;
		transform: rotate(144deg);
		-moz-transform: rotate(144deg);
		-ms-transform: rotate(144deg);
		-webkit-transform: rotate(144deg);
		-moz-box-shadow: inset 0 0 10px #000000;

	}
	.company-block{
		position: relative;
		width: 240px;
		height: 200px;
		display: inline-block;
		/*@noflip*/margin-left: 6%;
		margin-bottom: 5%;
		background-color: #fff;
	}
}
.sea-green,.dim-grey ,.navy,.light-grey,.cyan,.slate-grey{
	img{
		position: absolute;
		top: 65px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	.cb-img{ 
		opacity: 0; 
		 -moz-transition: all 0.6s ease-out;  /* FF4+ */
	    -o-transition: all 0.6s ease-out;  /* Opera 10.5+ */
	    -webkit-transition: all 0.6s ease-out;  /* Saf3.2+, Chrome */
	    -ms-transition: all 0.6s ease-out;  /* IE10? */
	    transition: all 0.6s ease-out;  
	}
	.cb-img.active{
		opacity: 1; 
	    -moz-transition: all 0.5s ease-int;  /* FF4+ */
	    -o-transition: all 0.5s ease-in;  /* Opera 10.5+ */
	    -webkit-transition: all 0.5s ease-in;  /* Saf3.2+, Chrome */
	    -ms-transition: all 0.5s ease-in;  /* IE10? */
	    transition: all 0.5s ease-in;  
	}
}

.bottom-wrapper{
	background-color: #ffffff;
	padding-bottom: 30px;
	padding-top: 70px;
	height: 396px;
	.fg-4{
		h2{ 
			font-size: 42px;
			font-weight: $font-weight-light;
		}
	}
	.fg-8{
		position: relative;
	}
	.footer-mac{
		background: url(#{$cdn_path}/images/home/devices-homepage-polygon.png) no-repeat;
		width: 104%;
		height: 420px;
		display: block;
		background-size: 742px 420px;
		position: absolute;
		z-index: 7;
	}
}
.bottom-upperlink{
	background-color: #f1f1f1;
	height: 50px;
	transform: rotate(1deg);
	-moz-transform: rotate(1deg);
	-ms-transform: rotate(1deg);
	-webkit-transform: rotate(1deg);
	display: block;
	position: relative;
	/*@noflip*/ left: -1px;
	top: 23px;
	box-shadow: 7px -33px 0px 6px #f1f1f1;
}

.bottom-wrapper-link{
	background-color: $footer-background;
	height: 30px;
	display: block;
}

.bottom-strip{
	background-color: $footer-background;
	height: 50px;
	display: block;
	transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
	position: absolute;
	width: 100%;
	top: -40px;
	/*@noflip*/ left: -2px;
	box-shadow: $footer-background 8px -6px 0px 24px;
	-webkit-box-shadow: $footer-background 8px -6px 0px 24px;
	-moz-box-shadow: $footer-background 8px -6px 0px 24px;
}

.bottom-final-strip{
	background-color: $footer-background;
	height: 10px;
	display: block;
	position: relative;
	margin-bottom: -30px;
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.aniWrap {
 	margin: 40px auto;
	display: block;
	width: 28px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.mouse {
  width: 28px;
  height: 50px;
  border: 2px solid white;
  border-radius: 14px;
  margin-left: 20px;
}

.scroller {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background: white;
  position: relative;
  top: 10px;
  left: 12px;
  -webkit-animation: scrolls 1.3s ease-out infinite ; /* Chrome, Safari, Opera */
}


@-webkit-keyframes scrolls {
    0%   {top: 10px; opacity: 1; height: 4px}
    95% {top: 18px; opacity: 0; height: 10px}
  	100% {top: 8px; opacity: 1; height: 4px}
}

.fd-setup,.fd-multi-c,.fd-gami{
	width: 100px;
	height: 100px;
	display: block;
	margin: 0 auto;
	position: relative;
	@include transition(background .35s linear); 
}


.fd-setup{
	background: url("#{$cdn_path}/images/home/setup.png") no-repeat;
	background-size: 100px;
	top: 11px;
	&:hover{
		background:url("#{$cdn_path}/images/home/setup-hover.png")no-repeat;
		background-size: 100px;
	}
}
.fd-multi-c{
	background: url("#{$cdn_path}/images/home/Icon_multiChannel.png") no-repeat;
	background-size: 101px 100px;
	top: 10px;
	&:hover{
		background: url("#{$cdn_path}/images/home/Icon_multiChannel1.png") no-repeat;
		background-size: 101px 100px;
		background-position: 0px 0px;
	}
}
.fd-gami{
	background: url("#{$cdn_path}/images/home/gamification.png")no-repeat;
	background-size: 110px;
	background-position: -4px -8px;
	&:hover{
		background: url("#{$cdn_path}/images/home/gamification-hover.png")no-repeat;
		background-size: 110px;
		background-position: -4px -8px;
	}
}


@media only screen and (min--moz-device-pixel-ratio: 1.5),(-o-min-device-pixel-ratio: 3/2),(-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5) {
	.home-banner-container{
		background-image: url(#{$cdn_path}/images/home/homepage-header@2x.jpg);
	}
	.freshservice-intro .fs-logo {
		background-image: url(#{$cdn_path}/images/home/fs-logo@2x.png);
		width: 165px;
		height: 38px;
		display: block;
		background-size: 165px;
	}
	.home-tour-wrapper{
		background-image: url(#{$cdn_path}/images/home/tour-home.jpg);
	}
}
